:root {
  --band: 18vw;
  --c1: #242951;
  --c2: #272c54;
  --c3: #343963;
  --c4: #e2e4f3;
  --c5: linear-gradient(to right, #e65895, #bc6be8);
  --c6: #393f6f;
  --c7: #ffedc9;
}

@keyframes fadeQuiz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInQuiz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: repeating-linear-gradient(
    110deg,
    var(--c1),
    var(--c1) 180px,
    var(--c2) 180px,
    var(--c2) 400px
  );
  font-family: 'Be Vietnam Pro', sans-serif;
}

.quiz-container {
  width: 820px;
  height: 400px;
}

.header-quiz {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.quiz-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--c4);
}

.quiz-points {
  color: var(--c4);
  background-image: var(--c5);
  font-weight: 500;
  padding: 9px 12px;
  border-radius: 28px;
  font-size: 16px;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--c3);
  border-radius: 10px;
  padding: 70px 150px;
  opacity: 0;
  animation: fadeQuiz 0.5s ease forwards;
}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--c6);
  color: var(--c4);
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease;
}

.active {
  background-image: var(--c5);
}

.complited {
  background-image: var(--c5);
}

.question-text {
  color: var(--c4);
  font-weight: 500;
  font-size: 18px;
  opacity: 0;
  animation: fadeInQuiz 0.45s ease forwards;
}

.answer-option-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  width: 100%;
}

.answer-option {
  position: relative;
  color: var(--c4);
  background-color: var(--c6);
  padding: 20px 40px;
  border-radius: 12px;
  opacity: 0;
  animation: fadeInQuiz 0.45s ease forwards;
  transition: all 0.3s ease;
}

.answer-option:hover,
.step:hover,
.play-again:hover {
  transform: scale(1.1);
}

.answer-option .emoji {
  position: absolute;
  margin-left: 3px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.result-container {
  width: 380px;
  height: 380px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 55px;
  width: 100%;
  height: 100%;
  background-color: var(--c3);
  border-radius: 10px;
  opacity: 0;
  animation: fadeQuiz 0.5s ease forwards;
}

.emoji-result {
  font-size: 40px;
  width: 80px;
  height: 80px;
  padding: 30px;
  border-radius: 50px;
  background-color: var(--c7);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #e1e3f2;
}

.congrats-text {
  color: var(--c4);
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

.correct-answer-text {
  color: var(--c4);
  font-size: 14px;
}

.play-again {
  padding: 20px 70px;
  font-size: 16px;
  color: var(--c4);
  font-weight: 500;
  border-radius: 10px;
  background-image: var(--c5);
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}
